Notebook

Introduction

DataScience Languages 
1) Python 
2) R 
3) SQL
4) Julia

Data Science Libraries:
- NumPy
- Pandas
- Matplotlib
- Scikit-Learn

  | Tool Name    | Description           |
  |--------------|-----------------------|
  | Jupyter      | Interactive notebooks |
  | TensorFlow   | Deep learning library  |
  | Tableau      | Data visualization     |

Arthematic Expressions 
- a + b (addition)
- a-b (subtraction)
- a*b (Multiplication)
- a/b (Division)

In [1]:
a = 5
b = 3
result_multiply = a * b
result_add = a + b
result_multiply, result_add

(15, 8)

In [2]:
minutes = 120
hours = minutes / 60
hours

2.0

Objectives:
- Explore basic arithmetic operations
- Introduce data science concepts
- Showcase code examples

Author: King